#footer {
  background-color: var(--clr-box);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2em;
}

#footer img {
  width: 10em;
}

#footer .footerContent,
article {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}
